
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del formulario */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    background-color: #f4f4f4;
}

form {
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; 
}

label {
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #0066cc;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 102, 204, 0.5);
}

button {
    background-color: #0066cc;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}
